---
import { storyblokEditable } from '@storyblok/astro'
import DualCardSection from '../../components/home-page/dual-card/DualCardSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <DualCardSection {...blok} />
</div>
