---
import { storyblokEditable } from '@storyblok/astro'
import IconHeadingSection from '../../components/home-page/icon-heading-section/IconHeadingSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <IconHeadingSection {...blok} />
</div>
