---
import { storyblokEditable } from '@storyblok/astro'
import MissionStatement from '../../components/home-page/mission-statement/MissionStatement.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <MissionStatement {...blok} />
</div>
