---
import { storyblokEditable } from "@storyblok/astro";
import PartnerSection from "../../components/home-page/partner-section/PartnerSection.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <PartnerSection {...blok} />
</div>
