---
import { storyblokEditable } from '@storyblok/astro'
import StatsCarouselSection from '../../components/home-page/stats-carousel/StatsCarouselSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <StatsCarouselSection {...blok} />
</div>
