---
import { storyblokEditable } from '@storyblok/astro'
import StepsSection from '../../components/home-page/steps-section/StepsSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <StepsSection {...blok} />
</div>
