---
import { storyblokEditable } from '@storyblok/astro'
import TripleCardSection from '../../components/home-page/triple-card/TripleCardSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <TripleCardSection {...blok} />
</div>
