---
import { storyblokEditable } from "@storyblok/astro";
import StepsSection02 from "../../components/forum/steps-section-02/StepsSection02.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <StepsSection02 {...blok} />
</div>
