---
import TestimonialItem from "./TestimonialItem.astro";

const { testimonials } = Astro.props;

import arrowLeft from "../../../assets/arrow-left.png";
import arrowRight from "../../../assets/arrow-right.png";
import { Image } from "astro:assets";
---

<div class="h-full">
  <div class="swiper testimonialSwiper h-full">
    <div class="swiper-wrapper h-full">
      {
        testimonials?.map((testimonial) => (
          <div class="swiper-slide h-full px-4 md:px-0">
            <TestimonialItem {...testimonial} />
          </div>
        ))
      }
    </div>
    <div
      class="swiper-button-prev ml-0 lg:ml-10 after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100"
    >
      <Image src={arrowLeft} alt="Previous" />
    </div>
    <div
      class="swiper-button-next mr-0 lg:mr-10 after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100"
    >
      <Image src={arrowRight} alt="Next" />
    </div>
  </div>
</div>

<script>
  import { Swiper } from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  new Swiper(".testimonialSwiper", {
    modules: [Navigation],
    navigation: {
      nextEl: ".swiper-button-prev",
      prevEl: ".swiper-button-next",
    },
  });
</script>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
</style>
