---
import { storyblokEditable } from '@storyblok/astro'
import ContentSplitSection03 from '../../components/marketplace/content-split-section-03/ContentSplitSection03.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <ContentSplitSection03 {...blok} />
</div>
