---
import { convertToWebP } from "../../../utils/imageConvert";

const { background_image, decorative_text_image, heading } = Astro.props;
---

<section class="relative h-[400px]">
  {/* Background Image */}
  <img
    src={convertToWebP(background_image.filename)}
    alt={background_image.alt || "Banner background"}
    class="absolute inset-0 w-full h-full object-cover"
  />

  {/* Overlay */}
  <div class="absolute inset-0 bg-ds-blue-900/45"></div>

  {/* Content */}
  <div class="relative z-10 max-w-[1408px] mx-auto px-4 h-full">
    <div
      class="flex flex-col md:flex-row justify-around items-center h-full"
    >
      {/* Decorative Text Image (Step up to the table) */}
      <img
        src={convertToWebP(decorative_text_image.filename)}
        alt={decorative_text_image.alt || "Decorative text"}
        class="w-auto h-40 md:h-48"
      />

      {/* Main Heading */}
      <h2 class="ds-h2 md:ds-h3 text-ds-white text-center md:text-right">
        {heading}
      </h2>
    </div>
  </div>
</section>

