---
import { storyblokEditable } from '@storyblok/astro'
import CardCarouselSection from '../components/home-page/card-carousel/CardCarouselSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <CardCarouselSection {...blok} />
</div>
