---
import { storyblokEditable } from "@storyblok/astro";
import Footer from "../components/footer/Footer.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <Footer {...blok} />
</div>
