---
import { storyblokEditable } from "@storyblok/astro";
import Header from "../components/header/Header.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <Header {...blok} />
</div>
