---
import { storyblokEditable } from '@storyblok/astro'
import HeroBanner from '../components/home-page/hero-banner/HeroBanner.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <HeroBanner {...blok} />
</div>
