---
import { storyblokEditable } from '@storyblok/astro'
import ImageBannerSection from '../components/home-page/image-banner-section/ImageBannerSection.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <ImageBannerSection {...blok} />
</div>
