---
import InfoCard from "./InfoCard.astro";

const { id, cards } = Astro.props;
---

<section id={id} class="relative z-20">
  <div class="mx-auto px-6 md:px-20 pt-[4rem] lg:pt-[7rem]">
    <div
      class="flex flex-col lg:flex-row justify-center gap-8 lg:gap-16 xl:gap-24"
    >
      {cards?.map((card) => <InfoCard {...card} />)}
    </div>
  </div>
</section>
