---
import { storyblokEditable } from "@storyblok/astro";
import FormSection01 from "../../components/contact/form-section-01/FormSection01.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <FormSection01 {...blok} />
</div>
