---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { getGlobalContent } from "../utils/storyblok";
import "../styles/global.css";

const { header, footer } = await getGlobalContent();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css"
    />
    <link rel="stylesheet" href="/src/scripts/cookieconsent.css" />
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-734KJEM8F7"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
      });

      gtag("config", "G-734KJEM8F7");
    </script>
    <script is:inline data-category="analytics">
      console.log("analytics");
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("consent", "update", {
        ad_storage: "granted",
        ad_user_data: "granted",
        ad_personalization: "granted",
        analytics_storage: "granted",
      });
    </script>
  </head>
  <body>
    <StoryblokComponent blok={header} />
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <StoryblokComponent blok={footer} />
    <script type="module" src="/src/scripts/cookieconsent-config.js"></script>
  </body>
</html>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
