---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { getGlobalContent } from "../utils/storyblok";
import "../styles/global.css";

const { header, footer } = await getGlobalContent();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <StoryblokComponent blok={header} />
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <StoryblokComponent blok={footer} />
  </body>
</html>
