---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { getGlobalContent } from "../utils/storyblok";
import "../styles/global.css";

const { header, footer } = await getGlobalContent();
---

<html lang="en">
  <head>
    <title>Zero Carbon Company</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Zero Carbon Company is a non-profit organisation, empowering hospitality to reach sustainability targets with more speed, efficiency, and profit."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://cardamon.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Zero Carbon Company" />
    <meta
      property="og:description"
      content="Zero Carbon Company is a non-profit organisation, empowering hospitality to reach sustainability targets with more speed, efficiency, and profit."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/3c15e374-81aa-4d95-9a8e-b6de457aba6e.jpg?token=6j4N5P_pgYn3RDqdz0X-V9veqP6X7MJXhpvt-VrryS8&height=675&width=1200&expires=33281924867"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="cardamon.io" />
    <meta property="twitter:url" content="https://cardamon.io" />
    <meta name="twitter:title" content="Zero Carbon Company" />
    <meta
      name="twitter:description"
      content="Zero Carbon Company is a non-profit organisation, empowering hospitality to reach sustainability targets with more speed, efficiency, and profit."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/3c15e374-81aa-4d95-9a8e-b6de457aba6e.jpg?token=6j4N5P_pgYn3RDqdz0X-V9veqP6X7MJXhpvt-VrryS8&height=675&width=1200&expires=33281924867"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <StoryblokComponent blok={header} />
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <StoryblokComponent blok={footer} />
  </body>
</html>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
