---
import { renderRichText } from "@storyblok/astro";
import { convertToWebP } from "../../../utils/imageConvert";

const { heading, description, image } = Astro.props;

const renderedHeading = renderRichText(heading);
const renderedDescription = renderRichText(description);
---

<section class="bg-white mt-20 md:mt-[6rem]">
  <div class="max mx-auto px-4">
    <div class="flex flex-col lg:flex-row-reverse items-center gap-12 justify-center">
      <div class="w-full text-center lg:text-left lg:w-[55%] mr-0 lg:mr-[30px]">
        <h2 class="ds-h3 mb-8" set:html={renderedHeading} />
        <div class="ds-p-2" set:html={renderedDescription} />
      </div>
      <div class="w-full lg:w-[45%] max-w-[540px] flex justify-center">
        <img
          src={convertToWebP(image.filename)}
          alt={image.alt || "Zero is Everything"}
          class="w-[80%] h-auto"
        />
      </div>
    </div>
  </div>
</section>
